<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" />
    <title>글쓰기</title>
</head>
<body class="create">
<div>
    <form  class="create-center"action="/create_process" method="post"enctype="multipart/form-data">
            <p><input type="hidden" name = "id" value = <%=id%>></p>
            <p><input class="title-size" type="text" name="title" placeholder=" title" required autofocus></p>
            <p><textarea class="textarea-size" name="description" placeholder=" description"></textarea></p>
            <p><input type="file" id="avatar" name="avatar" ></p>
            <input class="sub-button" type="submit">
    </form>
</div>
</body>
</html>

