<!DOCTYPE html>
<html lang="ko" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정하기</title>
</head>
<body>
    <form action="/update_process" method="post">
        <input type="hidden" name = "id" value = <%=id%>>
        <p><input type="text" name="title" placeholder="title" value=<%=title%>></p>
        <p><textarea name="description" placeholder="description"value=<%=description%>><%=description%></textarea></p>
        <p><input type="submit"></p>
    </form>
</body>
</html>